.box{
    display: flex;
    flex-direction: row;
    width: 92%;
    min-height: 500px;
    margin: 2% 4%;
    background: white;
}
.main{
    background: #efefef;
    width: 100%;
    min-height: 527px;
    overflow: hidden;
}

/*¸Ä±ää¯ÀÀÆ÷Ä¬ÈÏuser agent */

html{height:100%; width:100%;}
a{text-decoration:none;}
li{list-style:none;}
body{
    margin: 0 !important;
}